doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="../../stylesheets/circle.css")
  body
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
    script(src="../../graph_js/circle.js", data-csv=value, id='viewer')
